body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* Header part start */
.header-background {
  background-color: #1f2937;
}
.header-part {
  display: flex;
  justify-content: center;
  padding: 10px;
}

ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  width: 400px;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.header-link {
  width: 400px;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-para {
  font-size: 18px;
  color: #f9faf8;
  padding-bottom: 10px;
}
/* Header part end */

/* Hero Part Start */
.hero-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.hero-image {
  width: 400px;
  display: flex;
  justify-content: center;
}

.hero-part-1 {
  width: 400px;
}

img {
  width: 300px;
  height: auto;
}

.hero-button {
  padding: 5px 20px;
  background-color: #3882f6;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #3882f6;
}
/* Hero Part End */

/* Random Part Start */

.random {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 25px;
}

.random1 {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.order1 {
  width: 120px;
}

.box1 img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border: 2px solid royalblue;
}

.text1 {
  text-align: center;
}

/* RAndom Part End */

/* Quote Part Start */
.quote,
.quote-author {
  width: 650px;
}

.quote-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background: #e5e7eb;
  padding-top: 50px;
  padding-bottom: 50px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: oblique;
}
.quote-author {
  text-align: end;
  font-size: 18px;
  font-weight: 600;
}

/* Quote Part End */

/* Call to Action Part */
.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.lhs {
  width: 400px;
  height: 75px;
  padding: 20px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #3882f6;
  border-radius: 15px 0 0 15px;
}

.rhs {
  width: 100px;
  height: 75px;
  padding: 20px;
  background-color: #3882f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  padding-right: 100px;
}

.action {
  font-weight: 900;
}

.rhs button {
  background-color: #3882f6;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
}
/* Call to Action End */

/* Footer Start */
.footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #1f2937;
  color: white;
}
/* Footer End */
