body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* Header part start */
.header-part {
  display: flex;
  justify-content: center;
  padding: 10px;
}

ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-logo {
  width: 400px;
}

.header-link {
  width: 400px;
}
/* Header part end */

/* Hero Part Start */
.hero-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.hero-image {
  width: 400px;
  display: flex;
  justify-content: center;
}

.hero-part-1 {
  width: 400px;
}

img {
  width: 300px;
  height: auto;
}
/* Hero Part End */
