body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Flex all concerned divs */
.header,
.header-logo,
.header-link,
.hero,
.content,
.quote-box,
.action-box,
.footer {
  display: flex;
}

/* Header Link formatting */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 25px;
}

/* Link Decoration */
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* Header Logo Decoration */
.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

/* Centre Header Logo and Text */
.header-logo,
.header-link {
  padding: 15px;
  margin: auto;
}

/* background-colour of header, hero and footer */
.header,
.hero,
.footer {
  background-color: #1f2937;
}
